<section class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 mb-3">Panel de control</h1>
        <p class="lead">Aqui puede configurar sus citas y biografias</p>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col">
            <a href="/admin/citas">Ver mis citas</a>
        </div>
        <div class="col">
            <a href="">Ver mis biografias</a>
        </div>
    </div>
</div>