<div class="container">
    <div class="card mt-5">
    <div class="card-header">
        Quote
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
        <p>"{{cita.cita}}"</p>
        <footer class="blockquote-footer">{{cita.autor}} en <cite title="Source Title">{{cita.libro}}</cite></footer>
        </blockquote>
    </div>
    </div>
    <a href="/citas/" class="btn btn-primary mt-2">Ver todas las citas</a>

</div>