<section class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 mb-3">Iniciar seción</h1>
        <p class="lead">Por favor ingerese para poder usar todas las características del sitio</p>
    </div>
</section>

<!-- formulario -->
<section class="container">
    <div class="row">
        <div class="col">
            <form method = "POST" action="/login">
                <div class="form-group">
                    <label for="mail">Email:</label>
                    <input class="form-control" type="email" name="mail" id="mail" autofocus required placeholder="Email">
                
                </div>
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input class="form-control" type="password" name="password" id="password" required placeholder="*********">
                </div>
                    <button class="btn btn-success" type="submit">Ingresar</button>
                    <button class="btn btn-warning ml-2" type="reset">Borrar</button>
            </form>
            <div class="row justify-content-center mt-2"><a class="links" href="registro.html">No tengo una cuenta</a></div>
        </div>

        <div class="col">
            <img width="400" height="240" src="https://lapiedradesisifo.com/wp-content/uploads/2019/04/800px-Libro_de_los_Ep%C3%ADtomes.jpg" alt="imagen de un libro"/>
        </div>
    </div>
</section>