body {
  padding: 50px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  margin: 0 0 10rem;
}
a {
  color: #00B7FF;
}
html{
  position: relative;
  min-height: 100%;
}
.titulo{
  text-align: center;
  text-decoration: underline;
  color: rgb(20, 53, 87);
}

.menu{
  /* width: 50%;
  margin: 0 auto;
  margin-top: 2%; */
  background-color: rgb(223, 203, 177) !important;
}
.opcion{
/*text-align: center;
  padding: 0.5rem;
  border-right: 1px solid blue; */
  color: rgb(17, 100, 121) !important;
} 
.opcion:hover{
  text-decoration: none;
  background-color: rgb(235, 215, 128);
}
.pie{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10rem;
  background-color: rgb(223, 203, 177);
  margin-top: 3rem !important;
  padding-top: 2rem;

  /* padding-bottom: 2rem; */
  /* mt-5 pt-2 pb-2 */
}
.imagen{
  max-width: 100%;
  height: auto;
}
.icono{
  font-size: 30px;
  color: rgb(17, 100, 121);
}
.rojo{
  background-color: red;
}
.azul{
  background-color: blue;
}
.verde{
  background-color: green;
}